.works {
    justify-content: center;
    max-width: 1100px;
    padding: 0 1.25rem;
    margin: 0 auto;
}

.works-card-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.works-card {
    min-width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.works-card-image {
    width: 100%;
    height: auto;  /* 高さを自動調整 */
    object-fit: cover; /* 画像をカードのサイズに合わせてカバー */
}

.works-card-content {
    padding: 10px;
    text-align: center;
}

.works-card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}
